/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Menu */
/* --------------- */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    height: 10vh;
}

/* Left Navigation Menu */
.navBar .leftNav{
    display: flex;
    align-items: center;
}
.navBar .leftNav li{
    list-style: none;
}
.navBar .leftNav li a{
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 5px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.navBar .leftNav li a:hover{
    color: rgb(89,85,179);
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}
/* Logo */
.navBar .leftNav li img{
    width: 120px;
    margin-right: 35px;
}

/* Right Navigation Menu-Button */
.navBar .navButton{
    background-color: rgb(89,85,179);
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgb(89,85,179);
    border-radius: 10px;
}
.navBar .navButton:hover{
    background-color: #fff;
    color: rgb(89,85,179);
    font-weight: 700;
    border: 2px solid rgb(89,85,179);
    border-radius: 10px;
}

/* Hero Section */
/* ------------ */
section{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

/* Left Hero Section */
section .leftSection{
    width: 45%;
}
section .leftSection h1{
    font-size: 65px;
    font-weight: 900;
    line-height: 85px;
}
section .leftSection h1 span{
    color: rgb(89,85,179);
}
section .leftSection p{
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0;
}
section .leftSection .heroButton{
    background-color:rgb(89,85,179);
    color: #fff;
    border: 1px solid rgb(89,85,179);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 500;
}
section .leftSection .heroButton:hover{
    background-color:#fff;
    color: rgb(89,85,179);
    border: 3px solid rgb(89,85,179);
    font-weight: 700;

}

/* Right Hero Section */
section .rightSection{
    width: 55%;
}
section .rightSection img{
    width: 100%;
    padding: 5% 0;
}