* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(196, 196, 196);

}

#box {
    height: 80px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 0;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #78ffd6;
}

#input {
    padding: 10px 7%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 0;
    border: none;
    outline: none;
    font-size: 18px;
}

#display{
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0;
}
